{
    "swagger": "2.0",
    "info": {
        "title": "Osiris Points Service API",
        "contact": {},
        "version": "1.0"
    },
    "host": "giicoo.ru",
    "basePath": "/api/points-service",
    "paths": {
        "/create/point": {
            "post": {
                "description": "create point",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "points"
                ],
                "summary": "create point",
                "parameters": [
                    {
                        "description": "Write Point",
                        "name": "point",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.CreatePoint"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/entity.Point"
                        }
                    }
                }
            }
        },
        "/delete/point": {
            "delete": {
                "description": "delete point",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "points"
                ],
                "summary": "delete point",
                "parameters": [
                    {
                        "description": "Write ID",
                        "name": "point",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.DeletePoint"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/get/point/{id}": {
            "get": {
                "description": "get point by id",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "points"
                ],
                "summary": "get point",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Point ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/entity.Point"
                        }
                    }
                }
            }
        },
        "/get/points/{user_id}": {
            "get": {
                "description": "get points by user_id",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "points"
                ],
                "summary": "get points",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "User ID",
                        "name": "user_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/entity.Point"
                            }
                        }
                    }
                }
            }
        },
        "/update/point/location": {
            "put": {
                "description": "update location",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "points"
                ],
                "summary": "update location",
                "parameters": [
                    {
                        "description": "Write Location like '0 30'",
                        "name": "point",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.UpdateLocationPoint"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/entity.Point"
                        }
                    }
                }
            }
        },
        "/update/point/radius": {
            "put": {
                "description": "update radius",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "points"
                ],
                "summary": "update radius",
                "parameters": [
                    {
                        "description": "Write Radius",
                        "name": "point",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.UpdateRadiusPoint"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/entity.Point"
                        }
                    }
                }
            }
        },
        "/update/point/title": {
            "put": {
                "description": "update title",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "points"
                ],
                "summary": "update title",
                "parameters": [
                    {
                        "description": "Write Title",
                        "name": "point",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.UpdateTitlePoint"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/entity.Point"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "entity.Point": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer",
                    "x-order": "0"
                },
                "user_id": {
                    "type": "integer",
                    "x-order": "1"
                },
                "title": {
                    "type": "string",
                    "x-order": "2"
                },
                "location": {
                    "type": "string",
                    "x-order": "3"
                },
                "radius": {
                    "type": "integer",
                    "x-order": "4"
                },
                "created_at": {
                    "type": "string",
                    "x-order": "5"
                },
                "updated_at": {
                    "type": "string",
                    "x-order": "6"
                }
            }
        },
        "models.CreatePoint": {
            "type": "object",
            "required": [
                "location",
                "radius",
                "title",
                "user_id"
            ],
            "properties": {
                "user_id": {
                    "type": "integer",
                    "x-order": "0"
                },
                "title": {
                    "type": "string",
                    "x-order": "1"
                },
                "location": {
                    "type": "string",
                    "x-order": "2"
                },
                "radius": {
                    "type": "integer",
                    "x-order": "3"
                }
            }
        },
        "models.DeletePoint": {
            "type": "object",
            "required": [
                "id"
            ],
            "properties": {
                "id": {
                    "type": "integer",
                    "x-order": "0"
                }
            }
        },
        "models.UpdateLocationPoint": {
            "type": "object",
            "required": [
                "id",
                "location"
            ],
            "properties": {
                "id": {
                    "type": "integer",
                    "x-order": "0"
                },
                "location": {
                    "type": "string",
                    "x-order": "1"
                }
            }
        },
        "models.UpdateRadiusPoint": {
            "type": "object",
            "required": [
                "id",
                "radius"
            ],
            "properties": {
                "id": {
                    "type": "integer",
                    "x-order": "0"
                },
                "radius": {
                    "type": "integer",
                    "x-order": "1"
                }
            }
        },
        "models.UpdateTitlePoint": {
            "type": "object",
            "required": [
                "id",
                "title"
            ],
            "properties": {
                "id": {
                    "type": "integer",
                    "x-order": "0"
                },
                "title": {
                    "type": "string",
                    "x-order": "1"
                }
            }
        }
    }
}